.container {
  width: 200px;
  height: 200px;
}

/* comment: скрывает стрелочки у input[type="number"] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.circle_loader {
  transform-origin: center;
  transition: all 1s ease-out;
  transform: rotate(-90deg);
}

.hidden {
  display: none;
}

.animate {
  animation: progress 1s linear
}

@keyframes progress {
  to {
    transform: rotate(360deg)
  }
}